<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
    {% load static %}
    <style>
        *{
        font-family: sans-serif;
        background-color: grey;
        }
        .logform{
        width: 350px;
        height: 450px;
        background-color:grey;
        margin: 15px;
        padding: 5px;
        }
        .logform a{
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        color: red;
        }
        .address{
        color:white;
        }
    </style>
</head>
<body>
    <div class="logform">
        <a class="btn" href="http://127.0.0.1:8000/">Home</a>

        <p class="address"> AK cars Coimbatore<br><br>
            This is the very popular and best rated car selling platform in our coimbatore.
        </p>
    </div>
</body>
</html>