<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact page</title>
    {% load static %}
    <style>
        *{
        font-family: sans-serif;
        background-color: grey;
        }
        .logform{
        width: 350px;
        height: 450px;
        background-color:grey;
        margin: 15px;
        padding: 5px;
        }
        .logform a{
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        color: red;
        }
        #address {
		padding: 10px;
		letter-spacing:2px;
		font-size: 14px;
		color:#FFFFFF;
		background-color:none;
		}
    </style>
</head>
<body>
    <div class="logform">
        <a class="btn" href="http://127.0.0.1:8000/">Home</a>

        <p id="address">AK CARS<br />
			Coimbatore<br />
			Tamil nadu<br />
			India<br />
			Pin-code: 641012<br />
			Mobile: +91 9597611679.</p>
    </div>
</body>
</html>