<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enquiry page</title>
    {% load static %}
    <style>
        *{
        font-family: sans-serif;
        background-color: grey;
        }
        .enquiry{
        width: 450px;
        height: 450px;
        background-color:grey;
        margin: 15px;
        padding: 5px;
        }
        .enquiry a{
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        color: red;
        }
        #address {
		padding: 10px;
		letter-spacing:2px;
		font-size: 14px;
		color:yellow;
		background-color:grey;
		}
    </style>
</head>
<body>
    <div class="enquiry">
        <a class="btn" href="http://127.0.0.1:8000/">Home</a>
        <p id="address" style="color:green text-size:10px font-style:bold;"> Please provide your some basic details on here :<br><br><br>

            step 1 : To register via our website.<br><br>
            step 2: we will check your query.<br><br>
            step 3 : finally we will touch.<br><br>

            Communicate our customer-care executive, Toll-free number: 1800 1717 4444.<br><br>

            if you have any further doubts and clarification to visit our branch today.<br><br>
        </p>
    </div>
</body>
</html>